@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: rgb(245, 245, 245);
  --mute-gray: rgb(163, 163, 163);
  --gray: rgb(121, 121, 121);
  --dark-gray: rgb(31, 31, 31);
  --pw-360: 1rem;
  --pw-768: 2rem;
  --pw-1024: 3rem;
  --pw-1440: 4rem;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Inter", sans-serif;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

@media screen and (min-width: 360px) {
  .hero-section {
    padding: 0 var(--pw-360);
  }
  .hero-section__picture {
    height: 450px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .hero-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 2rem;
    top: 5%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-section__content {
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: var(--mute-gray);
  }
  .hero-section .heading__lastname {
    font-size: clamp(5rem, 14vw, 30rem);
    font-weight: 600;
    line-height: 0.8;
  }
  .hero-section span {
    font-weight: 600;
    color: var(--dark-gray);
  }
  .about-section {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 4rem;
    padding: 8rem var(--pw-360);
    text-align: center;
  }
  .about-section__heading {
    font-size: clamp(2rem, 4.5vw, 2.5rem);
  }
  .about-section__subheading {
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--mute-gray);
  }
  .project-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--pw-360) 2rem var(--pw-360);
  }
  .project-section .wrapper h2,
  .project-section .wrapper h3 {
    font-weight: 400;
  }
  .project-section__slider {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 300px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0) 5%,
      rgb(0, 0, 0) 95%,
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0) 5%,
      rgb(0, 0, 0) 95%,
      rgba(0, 0, 0, 0)
    );
  }
  .project-section__slider .slider__item {
    width: 400px;
    height: auto;
    position: absolute;
    left: max(3200px, 100%);
    animation-name: scrollLeft;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  .project-section__slider .slider__item img {
    height: auto;
    width: 400px;
    border-radius: 10px;
  }
  .resource-section {
    width: 100%;
    height: auto;
    padding: 4rem var(--pw-360);
  }
  .resource-section__heading {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .resource-section__content {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .resource-section__content .content__card {
    margin: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    height: 400px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
  }
  .resource-section__content .content__card h2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    opacity: 0.9;
  }
  .resource-section__content .content__card .light-background {
    color: var(--dark-gray);
  }
  .resource-section a :hover {
    transform: scale(1.1);
  }
  .resource-section img {
    transition: all 1s ease-in-out;
    border-radius: 10px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
  }
  .footer-section {
    overflow: hidden;
    width: 100%;
    background-color: rgb(22, 22, 22);
    height: auto;
    padding: 5rem var(--pw-360) 0 var(--pw-360);
  }
  .footer-section .top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer-section__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .footer-section__heading img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
  }
  .footer-section__heading h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
  }
  .footer-section hr {
    border-color: var(--mute-gray);
    opacity: 0.5;
    border-radius: 2rem;
    width: 100%;
  }
  .footer-section__contact {
    z-index: 1000;
  }
  .footer-section__contact :hover {
    background-color: rgb(94, 190, 224);
  }
  .footer-section__contact p {
    display: inline-block;
    color: white;
    border: 1px solid rgb(94, 190, 224);
    border-radius: 30px;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
  }
  .footer-section__brand {
    color: white;
    font-weight: 600;
    font-size: clamp(6rem, 27vw, 32rem);
    line-height: 0.8;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 0 var(--pw-768);
  }
  .about-section {
    gap: 4rem;
    padding: 8rem var(--pw-768);
  }
  .project-section .wrapper {
    padding: 0 var(--pw-768) 2rem var(--pw-768);
  }
  .project-section__slider {
    height: 350px;
  }
  .project-section__slider .slider__item {
    width: 500px;
    left: max(4000px, 100%);
    animation-duration: 50s;
  }
  .project-section__slider .slider__item img {
    width: 500px;
  }
  .resource-section {
    padding: 4rem var(--pw-768);
  }
  .resource-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-section {
    height: 65vh;
    padding: 5rem var(--pw-768) 0 var(--pw-768);
  }
  .footer-section .top-wrapper {
    align-items: start;
  }
  .footer-section__heading {
    flex-direction: row;
  }
  .footer-section__heading h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section {
    padding: 0 var(--pw-1024);
  }
  .hero-section__picture {
    height: 46vw;
    left: 0;
    right: 50%;
    transform: translate(0, 0);
  }
  .hero-section .text-wrapper {
    transform: translate(0, 0);
    gap: 2rem;
    top: auto;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 2rem;
  }
  .about-section {
    flex-direction: row;
    padding: 8rem var(--pw-1024);
    text-align: left;
  }
  .about-section__subheading {
    font-size: 1.25rem;
  }
  .project-section .wrapper {
    padding: 0 var(--pw-1024) 2rem var(--pw-1024);
  }
  .project-section__slider {
    height: 500px;
  }
  .project-section__slider .slider__item {
    width: 700px;
    left: max(5600px, 100%);
  }
  .project-section__slider .slider__item img {
    width: 700px;
  }
  .resource-section {
    padding: 4rem var(--pw-1024);
  }
  .resource-section__content .content__card {
    height: 700px;
  }
  .footer-section {
    padding: 5rem var(--pw-1024) 0 var(--pw-1024);
  }
}
@media screen and (min-width: 1440px) {
  .hero-section {
    padding: 0 var(--pw-1440);
  }
  .about-section {
    padding: 8rem var(--pw-1440);
  }
  .project-section .wrapper {
    padding: 0 var(--pw-1440) 2rem var(--pw-1440);
  }
  .resource-section {
    padding: 4rem var(--pw-1440);
  }
  .footer-section {
    padding: 5rem var(--pw-1440) 0 var(--pw-1440);
  }
}
@keyframes scrollLeft {
  to {
    left: -700px;
  }
}
.item1 {
  animation-delay: -43.75s;
}

.item2 {
  animation-delay: -37.5s;
}

.item3 {
  animation-delay: -31.25s;
}

.item4 {
  animation-delay: -25s;
}

.item5 {
  animation-delay: -18.75s;
}

.item6 {
  animation-delay: -12.5s;
}

.item7 {
  animation-delay: -6.25s;
}

.item8 {
  animation-delay: 0s;
}
